@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap');

body{
    width: 414px;
    height: 1026px;
    box-sizing: border-box;
    background-color: #E5E5E5;
    overflow-y: hidden;
}

/*HEADER */

.header{
    width: 100%;
    height:92px;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 10px;
}

h1{
    font-family: 'Righteous', cursive;
    font-size: 44px;
    color: #FFFFFF;
    font-weight: 400;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;

}

/* MAIN CONTENT */

.main{
    width: 100%;
    margin-top: 270px;
}

h3{
    font-family: 'Righteous', cursive;
    font-size: 25px;
    color:#333333;
    font-weight: 400;
    margin-bottom: 15px;
    margin-left: 10px;
}

/* PRODUCT-BOX */

.product-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
}

.product-box{
    background-color: #FFFFFF;
    width: 216px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    margin-left: 10px;
    margin-right: 10px;
    border: 5px solid #FFFFFF;
    position: relative;
}

.product-box > :nth-child(2){
    margin-top:10px;
    display: flex;
    flex-direction: column;
}

.product-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
    margin: 8px 0;
}

.product-price{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.product-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

/* ROWS */

.plate-container{
    margin-bottom: 20px;
}
.drink-container{
    margin-bottom: 20px;
}
.desert-container{
    margin-bottom: 20px;
}

/* FOOTER */

.footer{
    height: 92px;
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.close-order-button{
    height: 61px;
    width: 314px;
    border-radius: 35px;
    background-color: #CBCBCB;
    font-size: 20px;
    color: #FFFFFF;
}

/* JAVASCRIPT STYLE */

.selected-box{
    border: 5px solid green;
}

.check-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    color: green;
}

.hidden{
    display:none;
}
